<div class="portlet light bordered" ng-controller="app.views.softlicenseoption as vm">
    <div class="portlet-title">
        <div class="caption">
            <i class="icon icon-grid font-green-sharp"></i>
            <span class="caption-subject font-green-sharp bold uppercase">价格列表</span>
        </div>
        <div class="actions">
            <button type="button" class="btn btn-primary" ng-click="vm.createSoftLicenseOption()"><i class="icon icon-plus"></i>添加价格</button>
        </div>
    </div>

    <div class="portlet-body" style="padding-top: 0px">
        <div class="table-scrollable ">
            <table class="table table-bordered table-hover table-striped table-advance">
                <thead>
                    <tr>
                        <th style="width: 40px;text-align: center"> ID </th>
                        <th style="text-align: center"> 类型 </th>
                        <th style="text-align: center"> 价格 </th>
                        <th style="width: 160px;text-align: center"> 创建时间 </th>
                        <th style="width: 100px; text-align: center"> 操作 </th>
                    </tr>
                </thead>
                <tbody>

                    <tr role="row" ng-repeat="item in vm.items" class="even">
                        <td style="text-align: center;vertical-align: middle">{{item.id}}</td>
                        <td style="text-align: center;vertical-align: middle">{{item.licenseTypeAlias}}</td>
                        <td style="text-align: center;vertical-align: middle">{{item.price}}</td>
                        <td style="text-align: center;vertical-align: middle">{{item.creationTime | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        <td style="text-align: center;vertical-align: middle" class="table-operating">
                            <a href="javascript:;" ng-click="vm.edit(item.id)">修改</a><span class="divider">|</span>
                            <a href="javascript:;" ng-click="vm.delete(item.id)">删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>