<div>
    <form name="createForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">                
                <span>修改用户</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input class="form-control" type="text" name="loginName" ng-class="{'edited':vm.data.loginName}" ng-model="vm.data.loginName" required maxlength="50">
                <label>登录名称</label>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input class="form-control" type="text" name="mobile" ng-class="{'edited':vm.data.mobile}" ng-model="vm.data.mobile"  maxlength="11">
                <label>手机号码</label>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input class="form-control" type="text" name="qq" ng-class="{'edited':vm.data.qq}" ng-model="vm.data.qq"  maxlength="50">
                <label>QQ</label>
            </div>
            <div class="form-group form-md-line-input">
                <textarea class="form-control" rows="3" ng-class="{'edited':vm.data.remark}" ng-model="vm.data.remark"></textarea>
                <label>备注</label>
            </div>
            <div class="md-checkbox-inline">
                <div class="md-checkbox">
                    <input type="checkbox" id="checkbox1" class="md-check" ng-model="vm.data.isActive">
                    <label for="checkbox1">
                        <span></span>
                        <span class="check"></span>
                        <span class="box"></span> 启用
                    </label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">取消</button>
            <button type="submit" button-busy="vm.saving" busy-text="保存中..." class="btn btn-primary blue" ng-click="vm.save()" 
                    ng-disabled="createForm.$invalid"><i class="fa fa-save"></i> <span>保存</span></button>
        </div>
    </form>
</div>